@model Dastone.Entities.Login.Login

@{
    ViewData["Title"] = "Iniciar sesión";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div>
            <h2 class="text-center mb-4">Iniciar sesión</h2>
            
            <form asp-action="Login" method="post" class="m-t">
                <div class="form-group">
                    <label for="usuario" class="form-label">Usuario</label> <!-- Nuevo subtítulo -->
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input asp-for="Usuario" id="usuario" class="form-control form-control-user" placeholder="Ingresa tu usuario" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contraseña" class="form-label">Contraseña</label> <!-- Nuevo subtítulo -->
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input asp-for="Contraseña" type="password" id="contraseña" class="form-control form-control-user" placeholder="Ingresa tu contraseña" required>
                    </div>
                </div>
                <div class="form-group custom-control custom-checkbox small">
                    <input asp-for="Recordarme" type="checkbox" class="custom-control-input" id="recordarme">
                    <label class="custom-control-label" for="recordarme">Recordarme</label>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Iniciar sesión</button>
            </form>
</div>
