@model Dastone.Entities.Cliente
@{
    ViewData["Title"] = "Crear Cliente";
}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Inicio</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Clientes</a></li>
                            <li class="breadcrumb-item active">Crear Cliente</li>
                        </ol>
                    </div><!--end col-->
                    <div class="col-auto align-self-center">
                        <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                            <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                            <span class="" id="Select_date">Jan 11</span>
                            <i data-feather="calendar" class="align-self-center icon-xs ml-1"></i>
                        </a>
                        
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div><!--end row-->
    <h1 class="mt-2">Formulario Cliente</h1>
    <div class="row mt-5">
        <div class="col-sm-14">
            <div class="card">
                <div class="card-body">
                    <form class="mt-5" asp-action="Create" method="post">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="txtNombre" class="col-lg-3 col-form-label">Nombre</label>
                                        <div class="col-lg-9">
                                            <input id="txtNombre" type="text" class="form-control" asp-for="Nombre" required>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="txtDireccion" class="col-lg-3 col-form-label">Direccion</label>
                                        <div class="col-lg-9">
                                            <input id="txtDireccion" type="text" class="form-control" asp-for="Direccion" required>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="txtTelefono" class="col-lg-3 col-form-label">Telefono</label>
                                        <div class="col-lg-9">
                                            <input id="txtTelefono" type="text" class="form-control" asp-for="Telefono" required>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="txtCorreoElectronico" class="col-lg-3 col-form-label">Correo Electronico</label>
                                        <div class="col-lg-9">
                                            <input id="txtCorreoElectronico" type="email" class="form-control" asp-for="CorreoElectronico" required>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="txtFechaRegistro" class="col-lg-3 col-form-label">Fecha de Registro</label>
                                        <div class="col-lg-9">
                                            <input id="txtFechaRegistro" type="date" class="form-control" asp-for="FechaRegistro" required>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="txtNotas" class="col-lg-3 col-form-label">Notas</label>
                                        <div class="col-lg-9">
                                            <input id="txtNotas" type="text" class="form-control" asp-for="Notas">
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-form-label col-form-label">
                                            <button type="submit" class="btn btn-primary" id="submit-button">Enviar</button>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                            </div><!--end row-->
                        </fieldset ><!--end fieldset-->
                    </form><!--end form-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
</div>

@section styles{
    <!--Form Wizard-->
    <link rel="stylesheet" href="~/lib/jquery-steps/jquery.steps.css">
}

@section scripts{
    <script src="~/lib/jquery-steps/jquery.steps.min.js"></script>
    <script src="~/js/pages/jquery.form-wizard.init.js"></script>
}