@model Dastone.Entities.Citum
@{
    ViewData["Title"] = "Crear Citas";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Inicio</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Citas</a></li>
                            <li class="breadcrumb-item active">Agregar Cita</li>
                        </ol>
                    </div><!--end col-->
                    <div class="col-auto align-self-center">
                        <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                            <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                            <span class="" id="Select_date">Jan 11</span>
                            <i data-feather="calendar" class="align-self-center icon-xs ml-1"></i>
                        </a>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div><!--end row-->
    <h1 class="mt-2">Crear Cita</h1>
    <div class="row mt-5">
        <div class="col-sm-14">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Create" method="post">
                        <h3>Datos de la Cita</h3>
                        <fieldset>
                            <div class="row mt-5">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="txtFechaHora" class="col-lg-3 col-form-label">Fecha y Hora</label>
                                        <div class="col-lg-9">
                                            <input id="txtFechaHora" type="datetime-local" class="form-control" asp-for="FechaHora" required>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="txtTipoServicio" class="col-lg-3 col-form-label">Tipo de Servicio</label>
                                        <div class="col-lg-9">
                                            <input id="txtTipoServicio" type="text" class="form-control" asp-for="TipoServicio" placeholder="Ingrese el tipo de servicio" required>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="txtDescripcion" class="col-lg-3 col-form-label">Descripción</label>
                                        <div class="col-lg-9">
                                            <textarea id="txtDescripcion" class="form-control" asp-for="Descripcion" placeholder="Ingrese la descripción" rows="3" required></textarea>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="txtEstado" class="col-lg-3 col-form-label">Estado</label>
                                        <div class="col-lg-9">
                                            <input id="txtEstado" type="text" class="form-control" asp-for="Estado" placeholder="Ingrese el estado" required>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="txtFechaCreacion" class="col-lg-3 col-form-label">Fecha de Creación</label>
                                        <div class="col-lg-9">
                                            <input id="txtFechaCreacion" type="text" class="form-control" asp-for="FechaCreacion" placeholder="Ingrese la fecha de creación" required>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="txtNotas" class="col-lg-3 col-form-label">Notas</label>
                                        <div class="col-lg-9">
                                            <textarea id="txtNotas" class="form-control" asp-for="Notas" placeholder="Ingrese notas" rows="3" required></textarea>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-form-label col-form-label">
                                            <button type="submit" class="btn btn-primary" id="submit-button">Enviar</button>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                            </div><!--end row-->
                        </fieldset><!--end fieldset-->
                    </form><!--end form-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
</div>

@section styles{
    <!--Form Wizard-->
    <link rel="stylesheet" href="~/lib/jquery-steps/jquery.steps.css">
}

@section scripts{
    <script src="~/lib/jquery-steps/jquery.steps.min.js"></script>
    <script src="~/js/pages/jquery.form-wizard.init.js"></script>
}