@{
    Layout = null; // Deshabilitar el uso del layout
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tu Sitio Web - Inicio</title>
</head>
<body>
    <header>
        <!-- Aquí puedes colocar tu encabezado o barra de navegación -->
        <nav>
            <ul>
                <li><a sp-action="Index">Inicio</a></li>
                <li><a asp-action="Contact" >Contacto</a></li>
                <li><a asp-action="About">Sobre Nosotros</a></li>
                <li><a asp-action="Login">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Bienvenido a Nuestra Página Web</h1>
        <p>¡Aquí puedes colocar información relevante sobre tu negocio o sitio web!</p>
    </main>

    <footer>
        <!-- Aquí puedes colocar información de contacto, enlaces a redes sociales, etc. -->
        <p>Contacto: example@example.com</p>
    </footer>
</body>
</html>

