@section styles{
<link href="~/lib/leaflet/leaflet.css" rel="stylesheet">
}

<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Leaflet</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dastone</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Maps</a></li>
                            <li class="breadcrumb-item active">Leaflet</li>
                        </ol>
                    </div>
                    <!--end col-->
                    <div class="col-auto align-self-center">
                        <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                            <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                            <span class="" id="Select_date">Jan 11</span>
                            <i data-feather="calendar" class="align-self-center icon-xs ms-1"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-outline-primary">
                            <i data-feather="download" class="align-self-center icon-xs"></i>
                        </a>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Leaflet Quick Start Guide</h4>
                    <p class="text-muted mb-0">Example of Leaflet map.</p>
                </div>
                <!--end card-header-->
                <div class="card-body">
                    <div id="Leaf_default" class="" style="height: 400px"></div>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div> <!-- end col -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Bounds Extend</h4>
                    <p class="text-muted mb-0">Example of Leaflet map.</p>
                </div>
                <!--end card-header-->
                <div class="card-body">
                    <div id="Bounds_Extend" class="" style="height: 400px"></div>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div> <!-- end col -->
    </div> <!-- end row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Vector Bounds</h4>
                    <p class="text-muted mb-0">Example of Leaflet map.</p>
                </div>
                <!--end card-header-->
                <div class="card-body">
                    <div id="Vector_bounds" class="" style="height: 400px"></div>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div> <!-- end col -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Moov Canvas</h4>
                    <p class="text-muted mb-0">Example of Leaflet map.</p>
                </div>
                <!--end card-header-->
                <div class="card-body">
                    <div id="Moov_Canvas" class="" style="height: 400px"></div>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div> <!-- end col -->
    </div> <!-- end row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Array Map</h4>
                    <p class="text-muted mb-0">Example of Leaflet map.</p>
                </div>
                <!--end card-header-->
                <div class="card-body">
                    <div id="Array_Map" class="" style="height: 400px"></div>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div> <!-- end col -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Simple Vector Map</h4>
                    <p class="text-muted mb-0">Example of Leaflet map.</p>
                </div>
                <!--end card-header-->
                <div class="card-body">
                    <div id="V_Simple" class="" style="height: 400px"></div>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div> <!-- end col -->
    </div> <!-- end row -->

</div><!-- container -->


@section scripts{
<script src="~/lib/leaflet/leaflet.js"></script>
<script src="~/js/pages/jquery.leaflet-map.init.js"></script>
}