<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Ribbons</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dastone</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Advanced UI</a></li>
                            <li class="breadcrumb-item active">Ribbons</li>
                        </ol>
                    </div><!--end col-->
                    <div class="col-auto align-self-center">
                        <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                            <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                            <span class="" id="Select_date">Jan 11</span>
                            <i data-feather="calendar" class="align-self-center icon-xs ms-1"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-outline-primary">
                            <i data-feather="download" class="align-self-center icon-xs"></i>
                        </a>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div><!--end row-->
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="ribbon4 rib4-primary">
                        <span class="ribbon4-band ribbon4-band-primary text-white text-center">50% off</span>
                    </div><!--end ribbon-->
                    <div class="row">
                        <div class="col-auto">
                            <img src="~/images/dashboards/dastyle.jpg" alt="user" height="150" class="align-self-center mb-3 mb-lg-0">
                        </div><!--end col-->
                        <div class="col align-self-center">
                            <p class="font-18 fw-semibold mb-2">Dastyle - Admin & Dashboard Template</p>
                            <p class="text-muted">
                                Dastyle is a Bootstrap 4 admin dashboard,
                                It is fully responsive and included awesome
                                features to help build web applications fast and easy.
                            </p>
                            <a href="#" class="btn btn-soft-primary btn-sm">Live Priview</a>
                            <a href="#" class="btn btn-soft-primary btn-sm">Download Now</a>
                        </div><!--end col-->
                    </div> <!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="ribbon4 rib4-warning">
                        <span class="ribbon4-band ribbon4-band-warning text-white text-center">50% off</span>
                    </div><!--end ribbon-->
                    <div class="row">
                        <div class="col-auto">
                            <img src="~/images/dashboards/metrica.jpg" alt="user" height="150" class="align-self-center mb-3 mb-lg-0">
                        </div><!--end col-->
                        <div class="col align-self-center">
                            <p class="font-18 fw-semibold mb-2">Metrica - Admin & Dashboard Template</p>
                            <p class="text-muted">
                                Metrica is a Bootstrap 4 admin dashboard,
                                It is fully responsive and included awesome
                                features to help build web applications fast and easy.
                            </p>
                            <a href="#" class="btn btn-soft-primary btn-sm">Live Priview</a>
                            <a href="#" class="btn btn-soft-primary btn-sm">Download Now</a>
                        </div><!--end col-->
                    </div> <!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div>  <!--end row-->

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="ribbon1 rib1-secondary">
                        <span class="text-white text-center rib1-secondary">50% off</span>
                    </div><!--end ribbon-->
                    <div class="row">
                        <div class="col-auto">
                            <img src="~/images/dashboards/crovex.jpg" alt="user" height="150" class="align-self-center mb-3 mb-lg-0">
                        </div><!--end col-->
                        <div class="col align-self-center">
                            <p class="font-18 fw-semibold mb-2">Crovex - Admin & Dashboard Template</p>
                            <p class="text-muted">
                                Crovex is a Bootstrap 4 admin dashboard,
                                It is fully responsive and included awesome
                                features to help build web applications fast and easy.
                            </p>
                            <a href="#" class="btn btn-soft-primary btn-sm">Live Priview</a>
                            <a href="#" class="btn btn-soft-primary btn-sm">Download Now</a>
                        </div><!--end col-->
                    </div> <!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="ribbon1 rib1-success">
                        <span class="text-white text-center rib1-success">50% off</span>
                    </div><!--end ribbon-->
                    <div class="row">
                        <div class="col-auto">
                            <img src="~/images/dashboards/frogetor.jpg" alt="user" height="150" class="align-self-center mb-3 mb-lg-0">
                        </div><!--end col-->
                        <div class="col align-self-center">
                            <p class="font-18 fw-semibold mb-2">Frogetor - Admin & Dashboard Template</p>
                            <p class="text-muted">
                                Frogetor is a Bootstrap 4 admin dashboard,
                                It is fully responsive and included awesome
                                features to help build web applications fast and easy.
                            </p>
                            <a href="#" class="btn btn-soft-primary btn-sm">Live Priview</a>
                            <a href="#" class="btn btn-soft-primary btn-sm">Download Now</a>
                        </div><!--end col-->
                    </div> <!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div>  <!--end row-->

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="ribbon3 rib3-primary">
                        <span class="text-white text-center rib3-primary">50% off</span>
                    </div><!--end ribbon-->
                    <div class="row">
                        <div class="col-auto">
                            <img src="~/images/dashboards/metrica.jpg" alt="user" height="150" class="align-self-center mb-3 mb-lg-0">
                        </div><!--end col-->
                        <div class="col align-self-center">
                            <p class="font-18 fw-semibold mb-2">Metrica - Admin & Dashboard Template</p>
                            <p class="text-muted">
                                Metrica is a Bootstrap 4 admin dashboard,
                                It is fully responsive and included awesome
                                features to help build web applications fast and easy.
                            </p>
                            <a href="#" class="btn btn-soft-primary btn-sm">Live Priview</a>
                            <a href="#" class="btn btn-soft-primary btn-sm">Download Now</a>
                        </div><!--end col-->
                    </div> <!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="ribbon3 rib3-warning">
                        <span class="text-white text-center rib3-warning">50% off</span>
                    </div><!--end ribbon-->
                    <div class="row">
                        <div class="col-auto">
                            <img src="~/images/dashboards/dastyle.jpg" alt="user" height="150" class="align-self-center mb-3 mb-lg-0">
                        </div><!--end col-->
                        <div class="col align-self-center">
                            <p class="font-18 fw-semibold mb-2">Dastyle - Admin & Dashboard Template</p>
                            <p class="text-muted">
                                Dastyle is a Bootstrap 4 admin dashboard,
                                It is fully responsive and included awesome
                                features to help build web applications fast and easy.
                            </p>
                            <a href="#" class="btn btn-soft-primary btn-sm">Live Priview</a>
                            <a href="#" class="btn btn-soft-primary btn-sm">Download Now</a>
                        </div><!--end col-->
                    </div> <!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div>  <!--end row-->

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="ribbon2 rib2-secondary">
                        <span class="text-white text-center rib3-secondary">50% off</span>
                    </div><!--end ribbon-->
                    <div class="row">
                        <div class="col-auto">
                            <img src="~/images/dashboards/frogetor.jpg" alt="user" height="150" class="align-self-center mb-3 mb-lg-0">
                        </div><!--end col-->
                        <div class="col align-self-center">
                            <p class="font-18 fw-semibold mb-2">Frogetor - Admin & Dashboard Template</p>
                            <p class="text-muted">
                                Frogetor is a Bootstrap 4 admin dashboard,
                                It is fully responsive and included awesome
                                features to help build web applications fast and easy.
                            </p>
                            <a href="#" class="btn btn-soft-primary btn-sm">Live Priview</a>
                            <a href="#" class="btn btn-soft-primary btn-sm">Download Now</a>
                        </div><!--end col-->
                    </div> <!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="ribbon2 rib2-success">
                        <span class="text-white text-center rib3-success">50% off</span>
                    </div><!--end ribbon-->
                    <div class="row">
                        <div class="col-auto">
                            <img src="~/images/dashboards/crovex.jpg" alt="user" height="150" class="align-self-center mb-3 mb-lg-0">
                        </div><!--end col-->
                        <div class="col align-self-center">
                            <p class="font-18 fw-semibold mb-2">Crovex - Admin & Dashboard Template</p>
                            <p class="text-muted">
                                Crovex is a Bootstrap 4 admin dashboard,
                                It is fully responsive and included awesome
                                features to help build web applications fast and easy.
                            </p>
                            <a href="#" class="btn btn-soft-primary btn-sm">Live Priview</a>
                            <a href="#" class="btn btn-soft-primary btn-sm">Download Now</a>
                        </div><!--end col-->
                    </div> <!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div>  <!--end row-->

</div>