@model Dastone.Entities.OrdenTrabajo
@{
    ViewData["Title"] = "Crear Orden de Trabajo";
}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Inicio</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Ordenes de Trabajo</a></li>
                            <li class="breadcrumb-item active">Crear Orden de Trabajo</li>
                        </ol>
                    </div><!--end col-->
                    <div class="col-auto align-self-center">
                        <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                            <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                            <span class="" id="Select_date">Jan 11</span>
                            <i data-feather="calendar" class="align-self-center icon-xs ml-1"></i>
                        </a>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div><!--end row-->
    <h1 class="mt-2">Crear Orden de Trabajo</h1>
    <div class="row mt-5 ">
        <div class="col-sm-14">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Create" method="post">
                        <h3>Datos de la Orden</h3>
                        <fieldset>
                            <div class="row mt-5">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="ClienteId" class="col-lg-3 col-form-label">Cliente</label>
                                        <div class="col-lg-9">
                                            <select class="select2 form-control" style="width: 100%; height: 36px;" asp-for="ClienteId" required>
                                                <option disabled selected>Selecciona una opción</option>
                                                @foreach (var cliente in ViewBag.Clientes)
                                                {
                                                    <option value="@cliente.ClienteId">@cliente.Nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="Placa" class="col-lg-3 col-form-label">Placa Vehículo</label>
                                        <div class="col-lg-9">
                                            <select class="select2 form-control" style="width: 100%; height: 36px;" asp-for="Placa" required>
                                                <option disabled selected>Selecciona una opción</option>
                                                @foreach (var vehiculo in ViewBag.Vehiculos)
                                                {
                                                    <option value="@vehiculo.Placa">@vehiculo.Placa</option>
                                                }
                                            </select>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="FechaCreacion" class="col-lg-3 col-form-label">Fecha de Creación</label>
                                        <div class="col-lg-9">
                                            <input id="FechaCreacion" name="FechaCreacion" type="datetime-local" class="form-control" asp-for="FechaCreacion" required>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="TipoTrabajo" class="col-lg-3 col-form-label">Tipo de Trabajo</label>
                                        <div class="col-lg-9">
                                            <input id="TipoTrabajo" name="TipoTrabajo" type="text" class="form-control" asp-for="TipoTrabajo" required>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="DetalleOrden" class="col-lg-3 col-form-label">Detalle de la Orden</label>
                                        <div class="col-lg-9">
                                            <textarea id="DetalleOrden" name="DetalleOrden" rows="4" class="form-control" asp-for="DetalleOrden" required></textarea>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="Estado" class="col-lg-3 col-form-label">Estado</label>
                                        <div class="col-lg-9">
                                            <input id="Estado" name="Estado" type="text" class="form-control" asp-for="Estado" required>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="CostoTotal" class="col-lg-3 col-form-label">Costo Total</label>
                                        <div class="col-lg-9">
                                            <input id="CostoTotal" name="CostoTotal" type="number" step="0.01" class="form-control" asp-for="CostoTotal" required>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="FechaEntrega" class="col-lg-3 col-form-label">Fecha de Entrega</label>
                                        <div class="col-lg-9">
                                            <input id="FechaEntrega" name="FechaEntrega" type="datetime-local" class="form-control" asp-for="FechaEntrega" required>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="Observaciones" class="col-lg-2 col-form-label">Observaciones</label>
                                        <div class="col-lg-10">
                                            <textarea id="Observaciones" name="Observaciones" rows="6" class="form-control" asp-for="Observaciones"></textarea>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-lg-9 offset-lg-3">
                                            <button type="submit" class="btn btn-primary">Enviar</button>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                            </div><!--end row-->
                        </fieldset><!--end fieldset-->
                    </form><!--end form-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
</div>


@section styles{
    <!--Form Wizard-->
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/lib/jquery-steps/jquery.steps.css">
}

@section scripts{
    <script src="~/lib/jquery-steps/jquery.steps.min.js"></script>
    <script src="~/js/pages/jquery.form-wizard.init.js"></script>
    <script src="~/lib/select2/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2({

            });
        });
    </script>
}